################
# compiled tests
################
test-eembed-assert
test-eembed-log
test-eembed-print
test-eembed-long-to-str
test-eembed-ulong-to-hex
test-eembed-ulong-to-str
test-eembed-float-to-str
test-eembed-memcmp
test-eembed-memcpy
test-eembed-memmove
test-eembed-memset
test-eembed-strcat
test-eembed-strcpy
test-eembed-strlen
test-eembed-strstr
test-eembed-chunk-alloc
test-eembed-chunk-realloc
test-eembed-malloc-free
test-eembed-alloca-freea
test-eembed-random-bytes
test-eembed-random-bytes-2
test_check_status
test_check_byte_array
test_check_byte_array_m
test_check_byte_array_m2
test_check_char
test_check_char_m
test_check_double
test_check_int
test_check_int_m
test_check_long
test_check_long_m
test_check_ptr
test_check_ptr_m
test_check_ptr_not_null
test_check_size_t
test_check_size_t_m
test_check_str
test_check_str_null_ptr
test_check_str_m
test_check_unsigned_int
test_check_unsigned_int_m
test_check_unsigned_long
test_check_unsigned_long_m
test_out_of_memory
test_echeck_err_log

###################
# backup files
###################
*.bak
*.bck
*cache.lib
$*
*.swp
*.000
*~

################
# Output files
################
*.o
*.so
*.so.*
*.a
*.bin
*.d
*.lo
*.la
*.log
*.trs
*.log
*.tar.gz
*.gcda
*.gcno
*.out
coverage.info
coverage_html/

################
# autotools
################
autoscan.log
autom4te.cache
config.cache
config.h
config.intl
config.log
config.status
libtool
Makefile
stamp-h1
INSTALL
Makefile.in
aclocal.m4
compile
config.h.in
configure
depcomp
install-sh
missing
ar-lib
config.guess
config.sub
ltmain.sh
test-driver
.dirstamp
.deps/
.libs/
m4/
build-aux/
